@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* CABEÇALHO */

header {
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgb(8, 43, 1), #050020,#332300);
    padding: 1rem;
    position: relative;
    align-items: center;
    color: white;
}

h1 {
    padding-bottom: 8px;
}

/* CABEÇALHO */

main {
    background-color: linear-gradient (180deg, white, rgb(209, 209, 209), white);
}