@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CABEÇALHO */

header {
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #cfcfcf;
    padding: 1rem;
    position: relative;
    align-items: center;
    color: white;
}

h1 {
    padding-bottom: 8px;
}

/* CORPO */

body {
    background: linear-gradient(180deg, white, rgb(224, 224, 224), white);
}

main {
    font-family: "Montserrat", sans-serif;
}

.Textinho {
    position: relative;
    align-items: center;
    display: flex;
}